{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('css/estilos-usuario.css') }}">{% endblock %}
{% block tituloSeccion %}MENÚ DE USUARIO{% endblock %}
{% block contenido %}
<div class="row mx-auto">
    <!-- COLUMNA MENÚ -->
    <div class="col-2 bg-light columna-usuario">
        <h5 class="titulo-menu text-muted">
            Usuario: <a href="{{path('usuario_datos')}}">{{app.user.alias}}</a>
        </h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{path('usuario_edit', {'id': app.user.id})}}"> <i
                        class="fas fa-user-edit fa-lg mr-1"></i> Editar perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user-circle fa-lg mr-1"></i> Perfil público</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('evento_index')}}"><i class="fas fa-calendar-minus fa-lg mr-1"></i> Eventos
                    publicados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-calendar-check fa-lg mr-1"></i> Suscripciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('evento_new')}}"><i class="fas fa-plus-circle fa-lg mr-1"
                        aria-hidden="true"></i>
                    Publicar evento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_logout')}}"><i class="fas fa-times-circle fa-lg mr-1"
                        aria-hidden="true"></i>
                    Cerrar Sesión</a>
            </li>
        </ul>
        {% if app.user.rol == 1 %}
        <h5 class="titulo-menu text-muted">
            Menú de administrador
        </h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-calendar-times fa-lg mr-1"></i> Eventos reportados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-calendar-alt fa-lg mr-1"></i> Eventos activos</a>
            </li>

        </ul>
        {% endif %}
    </div>


    <div class="col-10 contenido-usuario">

        {% block contenidoUsuario %}{% endblock %}


    </div>
</div>

{% endblock %}