{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('css/estilos-usuario.css') }}">
{% endblock %}
{% block tituloSeccion %}MENÚ DE USUARIO{% endblock %}
{% block contenido %}
<div class="row mx-auto">
    <!-- COLUMNA MENÚ -->
    <div class="col-2 bg-light columna-usuario pb-3">
        <h5 class="titulo-menu text-muted text-center pl-0">
            <a href="{{path('usuario_datos')}}">
                {% if app.user.imagen %}
                <img src="{{asset('uploads/usuarios/' ~ app.user.imagen)}}" height="80px" class="mb-2"><br>
                {% else %}
                <img src="https://avatars.dicebear.com/v2/identicon/{{app.user.alias}}.svg" height="80px"
                    class="mb-2"><br>
                {% endif %}
                {{app.user.alias}}
            </a>
        </h5>
        <hr>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{path('usuario_edit', {'id': app.user.id})}}"><i
                        class="fas fa-edit fa-lg mr-1 mt-2"></i>Editar datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('usuario_perfil', {'id': app.user.id})}}"><i class="fas fa-user-circle fa-lg mr-1"></i> Perfil público</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('evento_index')}}"><i class="fas fa-calendar-minus fa-lg mr-1"></i>
                    Publicaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('suscripciones')}}"><i class="fas fa-calendar-check fa-lg mr-1"></i>
                    Suscripciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('evento_new')}}"><i class="fas fa-plus-circle fa-lg mr-1"
                        aria-hidden="true"></i>
                    Publicar evento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_logout')}}"><i class="fas fa-times-circle fa-lg mr-1"
                        aria-hidden="true"></i>
                    Cerrar Sesión</a>
            </li>
        </ul>
        {% if app.user.rol == 1 %}
        <h5 class="titulo-menu text-muted">
            Administración
        </h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{path('reporte_index')}}"><i class="fas fa-calendar-times fa-lg mr-1"></i>
                    Reportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('block_event_index')}}"><i
                        class="fas fa-exclamation-circle fa-lg mr-1"></i> Bloqueos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('event_active_index')}}"><i class="fas fa-calendar-alt fa-lg mr-1"></i>
                    Eventos activos</a>
            </li>

        </ul>
        {% endif %}
    </div>

    <!-- CONTENIDO USUARIO -->
    <div class="col-10 contenido-usuario pr-0">

        {% block contenidoUsuario %}{% endblock %}

    </div>
</div>

{% endblock %}