{% extends "usuario/base_usuario.html.twig" %}

{% block title %}Editar perfil | Síntesis{% endblock %}

{% block contenidoUsuario %}


<h1>Editar perfil</h1>

{{ form_start(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.alias) }}
    </div>
    <div class="col-6">
        {{ form_row(form.nombre) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-6">
        {{ form_row(form.fechaNacimiento) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{form_row(form.imagen)}}
        {{ form_row(form.descripcion) }}
    </div>

</div>
<div class="text-center">
    <input class="btn btn-success" type="submit" value="Actualizar Datos">
    <a href="{{path('change_passwd')}}"><input class="btn btn-primary" type="button" value="Cambiar Contraseña"></a>
</div>
{{ form_end(form) }}

<div class="text-center">
    <form method="post" action="{{ path('usuario_delete', {'id': app.user.id}) }}"
        onsubmit="return confirm('¿Estás seguro de querer eliminar tu cuenta?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
        <button class="btn mt-2 btn-danger">Eliminar usuario</button>
    </form>
</div>
{% endblock %}