{% extends "usuario/base_usuario.html.twig" %}

{% block title %} {{usuario.alias}} | Síntesis{% endblock %}

{% block contenidoUsuario %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Alias</th>
                <td>{{ usuario.alias }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Contraseña</th>
                <td><button class="btn btn-primary">Cambiar contraseña</button></td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <td>{{ usuario.fechaNacimiento ? usuario.fechaNacimiento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ usuario.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha de Registro</th>
                <td>{{ usuario.fechaRegistro ? usuario.fechaRegistro|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            
          
        </tbody>
    </table>

   
{% endblock %}
