{% extends 'base.html.twig' %}

{% block title %}Reporte index{% endblock %}

{% block body %}
    <h1>Reporte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reporte in reportes %}
            <tr>
                <td>{{ reporte.id }}</td>
                <td>{{ reporte.descripcion }}</td>
                <td>
                    <a href="{{ path('reporte_show', {'id': reporte.id}) }}">show</a>
                    <a href="{{ path('reporte_edit', {'id': reporte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reporte_new') }}">Create new</a>
{% endblock %}
