{% extends 'base.html.twig' %}

{% block title %}Reporte{% endblock %}

{% block body %}
    <h1>Reporte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reporte.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ reporte.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reporte_index') }}">back to list</a>

    <a href="{{ path('reporte_edit', {'id': reporte.id}) }}">edit</a>

    {{ include('reporte/_delete_form.html.twig') }}
{% endblock %}
