{% extends "usuario/base_usuario.html.twig" %}

{% block title %}Eventos publicados | Síntesis{% endblock %}

{% block contenidoUsuario %}
<h1>Eventos activos</h1>

<table class="table table-striped table-hover text-center tablaEnlace">

    <thead>
        <tr>
            <th class="d-none d-lg-table-cell">ID</th>
            <th>Título</th>
            <th class="d-none d-sm-table-cell">Inicio</th>
            <th class="d-none d-lg-table-cell">Fin</th>
            <th class="d-none d-lg-table-cell">Ubicación</th>
            <th>Descripcion</th>


            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr data-href={{path('evento_show', {'id': evento.id})}}>
            <td class="align-middle pointer d-none d-lg-table-cell">{{ evento.id }}</td>
            <td class="align-middle pointer">{{ evento.titulo }}</td>
            <td class="align-middle pointer d-none d-sm-table-cell">{{ evento.fechaInicio|date('d/m/Y') }}</td>
            <td class="align-middle pointer d-none d-lg-table-cell">{{ evento.fechaFin ? evento.fechaFin|date('d/m/Y') : '-' }}</td>
            <td class="align-middle pointer d-none d-lg-table-cell">{{ evento.ubicacion|ubicacion }}</td>
            <td class="align-middle pointer">{{ evento.descripcion|descripcion(15)}}</td>

            <td class="align-middle">
                <span data-toggle="modal" data-target="#modalReporte" style="cursor: pointer">
                    <i class="fas fa-ban fa-lg"></i>
                </span>&nbsp;
                <!-- Modal Bloquear Evento-->
                <div class="modal text-left" id="modalReporte" tabindex="-1" role="dialog"
                    aria-labelledby="modalReporteTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalReporteTitle">Bloquear evento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name="bloqueo" method="post" action="{{path('block_event')}}">
                                    <div class="form-group">
                                        <label for="mensaje">Mensaje</label>
                                        <textarea id="mensaje" name="mensaje" required="required"
                                            class="form-control"></textarea>
                                        <small class="form-text text-muted">Mensaje para
                                            el publicador del evento.</small>
                                        <input type="hidden" name="eventoID" value="{{evento.id}}">
                                    </div>
                                    <div class="text-center"> <button type="submit" class="btn btn-danger">Bloquear
                                            evento</button></div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="9">No hay eventos activos publicados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block javascripts %}
<script src="{{asset('js/hrefTR.js')}}"></script>
{% endblock %}