{% extends "usuario/base_usuario.html.twig" %}

{% block title %}Eventos publicados | Síntesis{% endblock %}

{% block contenidoUsuario %}
<h1>Eventos publicados</h1>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Hora</th>
            <th>Ubicación</th>
            <th>Precio</th>
            <th>Descripcion</th>
          
            <th>Web</th>
            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr>
            <td>{{ evento.titulo }}</td>
            <td>{{ evento.fechaInicio|date('d-m-Y') }}</td>
            <td>{{ evento.fechaFin ? evento.fechaFin|date('d-m-Y') : '-' }}</td>
            <td>{{ evento.hora|date('H:i') }}</td>
            <td>{{ evento.ubicacion }}</td>
            <td>{{ evento.precio }}</td>
            <td>{{ evento.descripcion|slice(0,50) ~ '...' }}</td>
            <td>{{ evento.web ? evento.web : '-' }}</td>
            
            <td>
                <a href="{{ path('evento_show', {'id': evento.id}) }}"><button class="btn btn-primary">Ver</button></a>
                <a href="{{ path('evento_edit', {'id': evento.id}) }}"><button class="btn btn-primary">Editar</button></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="9">No has publicado ningún evento todavía</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}