<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Síntesis
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
    {% block css %}{% endblock %}
    <script src="https://kit.fontawesome.com/89aa4d3e9c.js" crossorigin="anonymous"></script>
</head>

<body class="container-fluid">

    <!-- HEADER FIXED -->
    <div class="headerFixed row justify-content-around oculto">
        <!-- LOGO -->
        <div class="d-flex col-auto align-items-center"><a href="{{path('buscador_index')}}"><img
                    src="{{ asset('img/logo-negro.png') }}" height="70px" alt=""></a>
        </div>

        <!-- NAV -->
        <nav class="d-flex navFixed navbar navbar-expand align-self-center">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CATEGORÍAS
                    </a>
                    {{ render(controller('App\\Controller\\PrincipalController::categoriasMenu')) }}
                </li>

                <li class="nav-item mx-1">
                    <a class="nav-link" href="{{path('evento_new')}}">PUBLICAR EVENTO</a>
                </li>
                
                <li class="nav-item mx-1">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link"
                        href="{{path('usuario_datos')}}">@{{app.user.alias}}</a>
                    {% else %}
                    <a class="navLinkHeader nav-link text-white btnSesion" href="{{path('app_login')}}">INICIAR
                        SESIÓN</a>
                    {% endif %}

                </li>


            </ul>


        </nav>
    </div>

    <!-- HEADER -->
    <header class="row justify-content-around">
        <!-- LOGO -->

        <div class="d-flex col-auto align-items-center"><a href="{{path('buscador_index')}}"><img
                    src="{{ asset('img/logo.png') }}" alt="" srcset=""></a></div>
        <!-- NAV -->
        <nav class="navHeader navbar navbar-expand align-self-center">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown mx-1">
                    <a class="navLinkHeader nav-link text-white dropdown-toggle" href="#" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CATEGORÍAS
                    </a>
                    {{ render(controller('App\\Controller\\PrincipalController::categoriasMenu')) }}
                </li>

                <li class="nav-item mx-1">
                    <a class="navLinkHeader nav-link text-white" href="{{path('evento_new')}}">PUBLICAR EVENTO <i class="fas fa-plus-circle"
                        aria-hidden="true"></i></a>
                </li>
                <li class="nav-item mx-1">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="navLinkHeader nav-link text-white btnSesion"
                        href="{{path('usuario_datos')}}">{{app.user.alias|upper}} <i class="fas fa-user" aria-hidden="true"></i></a>
                    {% else %}
                    <a class="navLinkHeader nav-link text-white btnSesion" href="{{path('app_login')}}">INICIAR
                        SESIÓN <i class="fas fa-user-edit" aria-hidden="true"></i></a>
                    {% endif %}

                </li>


            </ul>


        </nav>
    </header>
    {% block buscador %}{% endblock %}

    <!-- CONTENIDO -->
    <main class="row justify-content-center">
        <div class="col-12 titulo">{% block tituloSeccion %}{% endblock %}</div>


        <div class="col-11 col-lg-10 contenedorContenido no-gutters">
            {% block contenido %}{% endblock %}
        </div>

    </main>

    <!-- FOOTER -->
    <footer class="row">
        <div class="col-12">
            <h4 class="mt-3"><img src="{{ asset('img/logo-negro.png') }}" height="40px" alt="" srcset="">© 2020
            </h4>
            <img class="mx-2" src="{{ asset('img/facebook.png') }}" height="35px" alt="" srcset="">
            <img class="mx-2" src="{{ asset('img/instagram.png') }}" height="35px" alt="" srcset="">
            <img class="mx-2" src="{{ asset('img/twitter.png') }}" height="35px" alt="" srcset="">
            <p class="mt-2">
                <a href="">Ver términos y condiciones</a>
            </p>
        </div>
    </footer>

    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/headerFixed.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>